$board-width: 300px;

.chat-page {
	display: flex;
	height: 100vh;
	flex-direction: row-reverse;

	.sidebar {
		position: relative;
		min-width: calc($board-width + 64px);
		max-width: calc($board-width + 50px + 64px);
		display: flex;

		.board {
			width: $board-width;
			height: 100%;
			border-right: 1px solid #e1e4ea;
		}
	}

	.chat-window {
		flex: 1;
	}
}
