.navbar {
	width: 64px;
	height: 100%;
	background-color: #0190f3;

	.navbar__avatar-box {
		height: 96px;
		display: flex;
		justify-content: center;
		align-items: center;

		.navbar__avatar {
			cursor: pointer;
			height: 48px;
			width: 48px;
		}
	}

	.navbar__btn {
		height: 60px;
		background-color: #0190f3;
		border: none;
		outline: none;
		color: #fff;
		cursor: pointer;
	}

	.navbar__btn--active {
		height: 60px;
		background-color: #006edc;
		border: none;
		outline: none;
		color: #fff;
		cursor: pointer;
	}

	.navbar__btn:hover {
		background-color: #40adff;
	}
}

ul.MuiMenu-list {
	padding-bottom: 0;

	.navbar__avatar__menu__item {
		span {
			margin-left: 4px;
			font-size: 13px;
		}
	}

	.navbar__avatar__menu__item + .MuiDivider-root.navbar__avatar__menu__divider {
		margin-top: 4px;
		margin-bottom: 4px;
	}

	.navbar__avatar__menu__invite {
		background-color: #0068ff;
		height: 74px;
		padding: 0 9px 0 16px;
		cursor: pointer;

		span {
			display: inline-flex;
			align-items: center;
			width: 100px;
			font-size: 13px;
			color: #fff;
			vertical-align: center;
		}

		.navbar__avatar__menu__img {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: 93px;
			height: 54px;
		}
	}

	.navbar__setting__menu__item {
		position: relative;
		.navbar__setting__text {
			font-size: 13px;
			margin-left: 8px;
			flex-grow: 1;
		}

		.navbar__setting__arrow-right {
			color: #adbbd5;
		}
	}

	.navbar__setting__menu__sav {
		.navbar__setting__menu__save1 {
			display: none;
		}
	}

	.navbar__setting__menu__save {
		.navbar__setting__menu__save1 {
			display: block;
			position: absolute;
			left: 80%;
			top: 0;
		}
	}

	.navbar__setting__logout {
		color: #db342e;
		font-size: 13px;
		margin-left: 30px;
		margin-bottom: 8px;
	}
}
