.auth {
	text-align: center;

	.auth__logo {
		padding-top: 100px;
		margin-bottom: 150px;
		color: #0068ff;
		font-size: 50px;
		font-weight: bold;
		font-family: 'Poppins';
		line-height: 1;
	}

	.auth__progress {
		margin-bottom: 24px;
	}
}
